[submodule "vscode"]
	path = vscode
	url = git@github.com:rose-pine/vscode
	branch = master
[submodule "iterm"]
	path = iterm
	url = git@github.com:rose-pine/iterm
	branch = master
[submodule "terminal.app"]
	path = terminal.app
	url = git@github.com:rose-pine/terminal.app
	branch = master
