@import url("https://rsms.me/inter/inter.css");
@import url("./prism-rose-pine-dawn.css") screen;
@import url("./prism-rose-pine-dark.css") screen and
  (prefers-color-scheme: dark);

@font-face {
  font-family: "Pier Sans";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/PierSans-Bold.otf") format("opentype");
}

:root {
  --font-family-base: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --c-white: #faf4ed;
  --c-white-dark: #f2e9de;
  --c-black: #575279;

  --c-divider-light: rgba(110, 106, 134, 0.08);
  --c-divider-dark: rgba(110, 106, 134, 0.15);

  --c-text-light-1: #575279;
  --c-text-light-2: #6e6a86;
  --c-text-light-3: #9893a5;

  --c-brand: #d7827e;
  --c-brand-light: rgba(215, 130, 126, 0.95);

  --code-inline-bg-color: rgba(27, 31, 35, 0.05);
  --code-bg-color: #fffaf3;

  --highlight: var(--c-divider-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-white: #191724;
    --c-white-dark: #26233a;
    --c-black: #e0def4;

    --c-divider-light: rgba(110, 106, 134, 0.2);
    --c-divider-dark: rgba(110, 106, 134, 0.4);

    --c-text-light-1: #e0def4;
    --c-text-light-2: #6e6a86;
    --c-text-light-3: #555169;

    --c-brand: #ebbcba;
    --c-brand-light: rgba(235, 188, 186, 0.95);

    --code-inline-bg-color: rgba(27, 31, 35, 0.05);
    --code-bg-color: #1f1d2e;

    --highlight: var(--c-divider-light);
  }
}

::selection {
  background-color: var(--highlight);
}

html {
  font-size: 16px;
}

table > thead {
  background: var(--code-bg-color);
}

tr {
  border-top: 1px solid var(--c-divider-light);
}

tr:nth-child(2n) {
  background-color: var(--code-bg-color);
}

th,
td {
  border-color: var(--c-divider-light);
}

blockquote {
  background: var(--c-white-dark);
  border-color: var(--c-brand-light);
  color: var(--c-text-light-1);
}

pre > code {
  background: transparent;
}

code {
  color: var(--c-text-light-1);
  background: var(--highlight);
}

[class*="language-"] code {
  color: var(--c-text-light-1);
}

.custom-block.tip {
  background-color: var(--c-white-dark);
}

.nav-bar .nav-bar-title {
  font-family: "Pier Sans", var(--font-family-base);
  font-weight: bold;
}

.home-hero img.image {
  max-height: 128px;
}

.home-hero .title {
  font-family: "Pier Sans", var(--font-family-base);
  font-weight: bold;
}
